# DB Config
HOST=localhost
DATABASE_PASSWORD=db_passord
DATABASE_USER=db_user
DATABASE_PORT=db_port
DATABASE=db_name
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${HOST}:${DATABASE_PORT}/${DATABASE}
SHADOW_DATABASE=shadow_db_name
SHADOW_DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${HOST}:${DATABASE_PORT}/${SHADOW_DATABASE}
# Environment
NODE_ENV=development
PORT=5000